

body {
  background-color:#e9ecef;
 
}

i {
  padding-right: 8px;
}

.centered {
    padding-top: 200px;
    text-align: center;
}



.secret-container{
    background-color: #000;
    height: 4rem;
    margin-bottom: 1rem;

}

.container-login{
  text-align: left;
}

.container-home{
  text-align: center;
}

.secret-text {

  text-align: center;
  font-size: 2rem;
  color: #fff;
background: transparent;

}

p.secret-text{
  
  height: 4rem;
}

.rating{
  color:white;
}

.myGrid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  float: right;
}

/* .myGrid *{
  margin: 0 0.2rem;
} */

.fire{

font-size: 1.3rem;
float: right;
height: 100%;
background: transparent;
display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

span.secret-text{
  line-height: 4rem;
}

.thumbUp{
  content: url("thumbUp.png");
  float: right;
  height: 28px;
  
}
.thumbDown{
  content: url("thumbDown.png");
  float: right;
  height: 28px;

}

.joinToChat{
  font-size: 1.7rem !important;
  margin: 0.2rem;

}

.joinToChat:hover{
  color: rgb(231, 98, 9)
}

.chat-main-part{
  background-color: white;
  border-left: solid 1px black;
  padding: 1rem;;
width: 25%;
  max-width: 400px;
}

.main-page-secrets{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh;
  
 
}
.main-secrets{
  flex-grow: 2;
  position: relative;
  margin-bottom: 0;
}

.room-list-item{
  color: black;
 font-weight: 500;
  font-size: 1.3rem;;
}

.room-list-item span{
  color: rgba(0, 0, 0, 0.527);

 
  font-size: 0.9rem;
}

.add-new-room, .create-new-room-UI button{
  border:none;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.create-new-room-UI button{
  margin-bottom: 0;;
}

.joinTitle{
  text-decoration: underline;
}

.create-new-room-UI{
  margin-top: -1.5rem;;
  border: 2px solid black;
  margin-bottom: 1.5rem;
}

.create-new-room-UI input{
  margin: 0 0.5rem;
  border: none;
  border-bottom: 1px dashed rgba(88, 86, 86, 0.239);
  width: 90%;
  font-size: 0.8rem;;
}

.create-new-room-UI input:focus{
  outline: none !important;
  border: none;
  border-bottom: 1px solid rgba(88, 86, 86, 0.239);
}

#nick{
  display: inline;
  width: 7rem;
  font-style: italic;
  color:rgb(231, 98, 9);
  border:none;
 
}

#nick::placeholder{
  font-style: italic;
  background-color: bisque;
  color:rgb(231, 98, 9);
}

#nick:focus{
  outline: none !important;
  border: none;
}



/* //////////////////chat ////////////// */
.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

#chat-window-container{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat-window {
float: right;
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  display: flex;
  align-items: flex-start;
  height: 45px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  flex-grow: 3;
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-header button{
  background-color: transparent;
  color: white;
  border:none;
  font-weight:600;
  font-size: 1.3rem;;
}
.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  /* border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; */
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}





.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  border-bottom-left-radius: 6px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}



::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.non-visible-chat-heigh{
  height: 45px !important;
}

button:focus{
 outline: none;
}